<div class="navbar-wagon">
  <h3><%= link_to 'Gabriel', cocktails_path %></h3>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Add a cocktail',  new_cocktail_path %>
  </div>
</div>
